[mysqld]
default_authentication_plugin=mysql_native_password
server_id=1
character_set_server=utf8mb4
collation_server=utf8mb4_unicode_ci
explicit_defaults_for_timestamp=1
# デバック用にgeneral_logを有効にする
general_log=1
general_log_file=/var/log/mysql/mysqld.log
# バイナリログの有効化
log_bin=/var/log/mysql/mysql-bin
binlog_format=ROW
# GTIDの有効化
gtid_mode=ON
enforce_gtid_consistency=ON
[client]
default_character_set=utf8mb4
