[mysqld]
default_authentication_plugin=mysql_native_password
server_id=2
character_set_server=utf8mb4
collation_server=utf8mb4_unicode_ci
explicit_defaults_for_timestamp=1
# デバック用にgeneral_logを有効にする
general_log=1
general_log_file=/var/log/mysql/mysqld.log
# バイナリログをレプリカでも有効にする場合 (任意だが、ポイントインタイムリカバリや他のレプリカへのソースとなる場合に必要)
log_bin=/var/log/mysql/mysql-bin
binlog_format=ROW
# レプリカが受け取った更新を自身のバイナリログに記録する (推奨: このレプリカがさらに別のレプリカのソースになる場合や、ポイントインタイムリカバリに役立つ)
log_slave_updates=ON
# GTIDの有効化 (ソースと同様)
gtid_mode=ON
enforce_gtid_consistency=ON
read_only=ON
[client]
default_character_set=utf8mb4
