services:
  command_db:
    container_name: command_db
    image: mysql:8.0
    restart: always
    command: mysqld
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: sample_db
      TZ: Asia/Tokyo
    ports:
      - 3306:3306
    expose:
      - 3306
    volumes:
      - db-command:/var/lib/mysql
      - ./command/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./command/sql:/docker-entrypoint-initdb.d
      - ./command/ddl:/etc/ddl
      - ./logs/command:/var/log/mysql
      - ./command/scripts:/etc/scripts
    networks:
      - net
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-u",
          "root",
          "--password=${MYSQL_ROOT_PASSWORD}",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  query_db:
    container_name: query_db
    image: mysql:8.0
    restart: always
    depends_on:
      - command_db
    command: mysqld --report-host=query_db
    environment:
      MYSQL_ROOT_PASSWORD: password
      TZ: "Asia/Tokyo"
    ports:
      - 3307:3306
    volumes:
      - db-query:/var/lib/mysql
      - ./query/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./query/sql:/docker-entrypoint-initdb.d
      - ./query/ddl:/etc/ddl
      - ./query/scripts:/etc/scripts
      - ./logs/query:/var/log/mysql
    networks:
      - net
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-u",
          "root",
          "--password=${MYSQL_ROOT_PASSWORD}",
        ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s

  db_admin:
    container_name: db_admin
    image: phpmyadmin/phpmyadmin
    platform: linux/amd64
    restart: always
    depends_on:
      command_db:
        condition: service_healthy
      query_db:
        condition: service_healthy
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOSTS=command_db,query_db
      - PMA_USER=root
      - PMA_PASSWORD=password
    ports:
      - "3100:80"
    networks:
      - net

networks:
  net:

volumes:
  db-command:
  db-query:
