name: Buf CI

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - api/**
jobs:
  breaking-change-and-lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: api
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Buf CLI and check breaking changes and lint
        uses: bufbuild/buf-action@v1
        with:
          version: 1.57.2
          # 後方互換性の検証を行う
          breaking_against: "https://github.com/${{ github.repository }}.git#branch=main,subdir=api"
          lint: true
          breaking: true
          input: api # working-directoryは動作しないため、inputを指定する
