name: Go CI

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "**"

jobs:
  lint:
    name: go-lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v2

        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          golangci_lint_flags: "--config=./.golangci.yml ./..."
          go_version_file: "./go.mod" # this should be relative to the root of the repository
          fail_level: "error"
          reporter: "github-pr-review"
          workdir: "./"

  test:
    name: go-test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod
          cache-dependency-path: ./go.sum
      - name: test
        run: go test ./... -coverprofile=coverage.out -tags=ci
        env:
          GINKGO_LABEL_FILTER: "!DBConnect"
      - name: report coverage
        uses: k1LoW/octocov-action@v1
        with:
          config: ./.octocov.yml # this should be relative from the work-dir
          work-dir: "./"
